<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Adicionar Evento</h1>

<form action="">

<div>

<label>Nome:</label>  <input type="text" name="nome">
</div>
<div>

<label>Local:</label>  <input type="text" name="local">
</div>
<div>

<label>data:</label>  <input type="text" name="data">
</div>

<div>

<label>Horario:</label>  <input type="text" name="horario">
</div>

<div>

<button type="submit"> salvar</button>
<button type="reset"> limpar</button>
</div>

</form>
</body>
</html>