<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{}menu :: menu"></div>

 <div classe="container">
 

 
<h1>Adicionar Evento</h1>

<form action="/eventos" method="post">

<div>

<label>Nome:</label>  <input type="text" name="nome">
</div>
<div>

<label>Local:</label>  <input type="text" name="local">
</div>
<div>

<label>data:</label>  <input type="text" name="data">
</div>

<div>

<label>Horario:</label>  <input type="text" name="horario">
</div>

<div>

<button classe="waves-effect waves-light btn" type="submit"> salvar</button>
<button classe="waves-effect waves-light btn"type="reset"> limpar</button>
</div>

</form>
 </div>
</body>
</html>